 
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: white;
    flex-wrap: wrap;
}
.all {
    text-align: center;
    background-color: darkblue;
    padding: 50px;
    border-radius: 20px;
    box-shadow:0 0 10px rgba(0, 0, 0, 1);
}
#quotes {
    margin: 30px;
    font-size: 2em;
    color: wheat;
}
h1 {
    color: aqua;
}
button {
    padding: 10px 30px;
    font-size: 1em;
    font-weight: 700;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
button:hover {
    background-color: hotpink;
}
